@model ProjectTraining.ViewModels.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4>Account Renewal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AccountRenewal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly="readonly" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountRenewal"></label>
                <input asp-for="AccountRenewal" class="form-control" placeholder="Seconds" />
                <span asp-validation-for="AccountRenewal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Renewal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>